@import "../../../styles/mixin.scss";

#ViewProject{
	display: flex;
	flex-flow: column nowrap;
	flex:1;
	height: 100px;
}

#ViewProjectInterface{
	display: flex;
	flex:1;
	height: 100px;
	.ant-layout-sider{
		background-color: var(--color-white);
	}
	#ViewProjectInterface_wrapper{
		height: 100%;
	}
}
