@import "../../../styles/mixin.scss";

#ViewProject {
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	height: 100px;
}

#ViewProjectInterface {
	display: flex;
	flex: 1;
	flex-flow: row nowrap;
	height: 100px;
	width: 100%;

	.ant-layout-sider {
		background-color: var(--color-white);
	}

	.ViewProject-sider_wrapper {
		height: 100%;
		width: 300px;
		overflow: auto;

		.ViewProjectInterface_tree {
			height: 100px;

			.ant-tree-treenode {
				width: 100%;
				font-size: 14px;

				span {
					transition: 0.3s all ease-in-out;
				}

				span[title] {
					flex: 1;
				}

				.ant-tree-node-content-wrapper {
					padding: 0;

					.Interfacesider-tree_menu {
						&.Interfacesider-tree_menu_active {
							color: var(--color-selected);
							background-color: var(--color-selected-bg);
							border-radius: 4px;
						}

						.Interfacesider-tree_menu_title {
							flex: 1;
							padding-left: 8px;
							width: 100px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.Interfacesider-tree_menu_opration {
							display: none;
							opacity: 0;
							transition: 0.3s all ease-in-out;

							.Interfacesider-tree_menu_icon {
								width: 16px;
								height: 16px;

								&:hover {
									color: var(--color-selected);
								}
							}
						}

						&:hover {
							.Interfacesider-tree_menu_opration {
								display: flex;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}

.InterfaceAll-view {
	background-color: var(--color-white);
}
