.project-interface-change-content {
	min-height: 350px;
	overflow: auto;

	.item-content {
		.title {
			margin: 10px 0;
		}

		.content {
		}
	}
}

.TimeLine_news-content {
	margin-top: 20px;
	padding-right: 44px;

	> .el-timeline-item {
		display: flex;

		> .el-timeline-item-content {
			flex: 1;
		}
	}
}
