:root {
	--color-white: #fff;
	--color-white-secondary: rgba(255, 255, 255, 0.67);
	--color-bg-gray: #ececec;
	--color-blue: #2395f1;
	--color-blue-deeper: #34495e;
	--color-title: #273848d9;
	--color-grey-deep: #929aac;
	--color-black-light: #404040;
	--color-bg-dark: #32363a;
	--box-shadow-panel: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	--color-text-dark: rgba(13, 27, 62, 0.65);
	--color-antd-green: #00a854;
	--color-antd-yellow: #ffbf00;
	--color-antd-red: #f56a00;
	--color-antd-pink: #f5317f;
	--color-antd-cyan: #00a2ae;
	--color-antd-gray: #bfbfbf;
	--color-antd-purple: #7265e6;
	--color-selected: #1890ff;
	--color-selected-bg: #e6f7ff;
	--font-familly: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

[data-view-id="AppRouterView"] {
	flex: 1;
}

.x-sider_wrapper {
	height: 100%;
	width: 300px;
	overflow: hidden;

	.resize_bar {
		&:hover {
			cursor: ew-resize;
		}

		position: absolute;
		top: 20px;
		bottom: 20px;
		right: 0;
		width: 16px;
	}
}

.x-sider_wrapper_tree {
	height: 100px;
	flex: 1;
	margin-top: 10px;
	margin-bottom: 10px;

	.el-tree-treenode {
		width: 100%;
		font-size: 14px;

		span {
			transition: 0.3s all ease-in-out;
		}

		span[title] {
			flex: 1;
		}

		.el-tree-node-content-wrapper {
			padding: 0;

			[data-interface-all-menu] {
				transform: translateX(-32px);
			}
		}
	}
}

.x-sider-tree_menu {
	flex: 1;
	display: flex;
	align-items: center;
	width: 1px;

	&.x-sider-tree_menu_active {
		color: var(--color-selected);
		background-color: var(--color-selected-bg);
		border-radius: 4px;
	}

	.x-sider-tree_menu_title {
		flex: 1;
		padding-left: 8px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.x-sider-tree_menu_opration {
		display: none;
		opacity: 0;
		transition: 0.3s all ease-in-out;

		.x-sider-tree_menu_icon {
			width: 16px;
			height: 16px;

			&:hover {
				color: var(--color-selected);
			}
		}
	}
	&:hover {
		.x-sider-tree_menu_opration {
			display: flex;
			align-items: center;
			opacity: 1;
		}
	}
}
