:root {
	--color-white: rgba(255, 255, 255, 0.85);
	--color-white-secondary: rgba(255, 255, 255, 0.67);
	--color-bg-gray: #ececec;
	--color-blue: #2395f1;
	--color-blue-deeper: #34495e;
	--color-title: #273848d9;
	--color-grey-deep: #929aac;
	--color-black-light: #404040;
	--color-bg-dark: #32363a;
	--box-shadow-panel: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	--color-text-dark: rgba(13, 27, 62, 0.65);
	--color-antd-green: #00a854;
	--color-antd-yellow: #ffbf00;
	--color-antd-red: #f56a00;
	--color-antd-pink: #f5317f;
	--color-antd-cyan: #00a2ae;
	--color-antd-gray: #bfbfbf;
	--color-antd-purple: #7265e6;
	--color-selected: #1890ff;
	--color-selected-bg: #e6f7ff;
	--font-familly: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
			Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji",
			"Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
